/*Globales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    /* background-color: #fff; */
}

.body-header {
    height: 10vh;
    width: 100vw;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 1;
}

.container {
    width: 100vw;
    max-width: 1800px;
    margin: 0 auto;
    overflow: hidden;
}


/* Estilos de navegador */

nav {
    height: inherit;
    width: 90vw;
    display: flex;
    max-width: 1800px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.logo,
.logo img {
    height: inherit;
    vertical-align: top;
    padding: 7px 5px;
}

#burguer-box {
    border: 1px solid #9b9696d7;
    border-radius: 8px;
    padding: 1px;
    margin-bottom: 5px;
}

.burguer {
    display: none;
    color: #2b2b2b;
    font-size: 24px;
    padding: 20px 20px;
}

.burguer:hover {
    cursor: pointer;
}

nav a {
    text-decoration: none;
    color: #2b2b2b;
    font-size: 20px;
    padding: 30px 25px;
}


/* Estilos seccion hero desktop*/

.hero {
    display: flex;
    background-image: url(taxi.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    justify-content: flex-end;
    align-items: center;
}

.main-hero-desktop {
    background-color: #f7b617;
    width: 40vw;
    height: 50vh;
    padding: 3% 5%;
    color: #fff;
}

.hero-header {
    letter-spacing: 3px;
}

.hero-section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 1.2em;
}

.hero-logo {
    display: flex;
    position: relative;
    right: 100px;
    height: 3vh;
}

.hero-logo img {
    height: 3vh;
}

.hero-section2 {
    font-size: 0.8em;
    display: inline-block;
    padding-bottom: 5%;
}

.hero-cta2 p {
    padding-top: 5%;
    padding-bottom: 5%;
}

.button-driver-hero {
    -webkit-appearance: none;
    cursor: pointer;
    background-color: #fff;
    color: #2b2b2b;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    height: 25px;
    width: 180px;
    font-weight: bold;
}

.line {
    width: 122px;
    height: 25px;
}


/* Estilos seccion hero mobile*/

.main-hero-mobile {
    background-color: #f7b617;
    width: 40vw;
    height: 50vh;
    padding: 3% 5%;
    color: #fff;
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 1.2em;
}

.hero-header-mobile h1,
.hero-header-mobile {
    padding: 2% 2%;
    letter-spacing: 3px;
    display: inline;
}

.hero-logo-mobile {
    display: inline;
    position: relative;
}

.hero-logo-mobile img {
    height: 3vh;
}

.hero-main-mobile {
    display: block;
    font-size: 1.2em;
    padding-top: 15%;
    text-align: -webkit-center;
}

.box-button-dd-app-hero {
    display: block;
}

.button-dd-app-hero {
    display: block;
    -webkit-appearance: none;
    cursor: pointer;
    background-color: #fff;
    color: #2b2b2b;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    height: 25px;
    width: 180px;
    font-weight: bold;
}


/*Estilos section information*/

.information {
    display: flex;
    background-color: #f7b617;
    width: 100vw;
    height: 100vh;
}

.main-info-desktop {
    display: flex;
    width: inherit;
    height: 100vh;
}

.box-info-desktop {
    display: flex;
    position: relative;
    top: 10vh;
    border: 2px solid #fff;
    border-left: none;
    width: 90vw;
    height: 80vh;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.txt-info-desktop {
    display: block;
    padding: 3vw;
}

.title-txt-info-desktop {
    font-size: x-large;
    font-size: larger;
}

.txt-info-p1-desktop,
.txt-info-p2-desktop,
.title-txt-info-desktop {
    color: #fff;
    text-align: justify;
}

.txt-info-p1-desktop p,
.txt-info-p2-desktop p {
    padding: 5% 1%;
}


/*Responsive*/

@media screen and (max-width:768px) {
    /*Navegador*/
    .burguer {
        display: block;
    }
    .menu {
        position: fixed;
        top: 10vh;
        background-color: white;
        left: 0;
        transition-delay: .3s;
        width: 0;
        overflow: hidden;
        height: 100vh;
    }
    .menu a {
        display: inherit;
        color: #2b2b2b;
        border: 1px ssolid rgba(245, 245, 245, 0.664);
        text-align: center;
        height: 30%;
    }
    /*Hero*/
    .hero {
        background-position: center bottom;
    }
    .main-hero-desktop {
        display: none;
    }
    .main-hero-mobile {
        display: block;
    }
}