/*Globales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    /* background-color: #fff; */
}

.body-header {
    height: 10vh;
    width: 100vw;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 1;
}

.container {}


/* Estilos de navegador */

nav {
    height: inherit;
    width: 90vw;
    display: flex;
    max-width: 1800px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.logo,
.logo img {
    height: inherit;
    vertical-align: top;
    padding: 7px 5px;
}

#burguer-box {
    border: 1px solid #9b9696d7;
    border-radius: 8px;
    padding: 1px;
    margin-bottom: 5px;
}

.burguer {
    display: none;
    color: #2b2b2b;
    font-size: 24px;
    padding: 20px 20px;
}

.burguer:hover {
    cursor: pointer;
}

nav a {
    text-decoration: none;
    color: #2b2b2b;
    font-size: 20px;
    padding: 30px 25px;
}


/* Estilos seccion hero */

.main-hero {
    background-color: #f7b617;
}

.hero {
    background-image: url(taxi.jpg);
    width: 100vw;
    height: 90vh;
    background-size: cover;
    background-position: bottom;
}


/*Responsive Nav*/

@media screen and (max-width:768px) {
    .burguer {
        display: block;
    }
    .menu {
        position: fixed;
        top: 10vh;
        background-color: white;
        left: 0;
        transition-delay: .3s;
        width: 0;
        overflow: hidden;
        height: 100vh;
    }
    .menu a {
        display: inherit;
        color: #2b2b2b;
        border: 1px ssolid rgba(245, 245, 245, 0.664);
        text-align: center;
        height: 30%;
    }
}